@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-family: "Manrope", arial;
  background: #ededed;
}

/* HEADER */
header {
  position: relative;
}

.navLogo {
  position: absolute;
  top: 7%;
  left: 5%;
}

.title {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  font-size: 44px;
  color: #ffd15b;
  text-align: center;
  font-family: "Anton", arial;
  font-weight: 400;
}

.searchBar {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
}

.searchBox {
  position: relative;
  height: 72px;
  width: 100%;
}

#search {
  width: 97%;
  height: 100%;
  border-radius: 10px;
  padding-left: 31px;
  color: black;
  font-size: 18px;
  line-height: 21.86px;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  outline: none;
  text-decoration: black;
}

#buttonErase {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 25px;
  right: 61px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.searchButton {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 11px;
  right: 11px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

img.bannerImg {
  width: 100%;
}

/* FILTERS */

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 5%;
}

.dropdown-wrapper {
  display: flex;
  justify-content: space-between;
  width: 53%;
}

.dropdown-btn {
  background-color: #fff;
  cursor: pointer;
  width: 195px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
  padding: 15px;
  border-radius: 10px;
  border: none;
}

.dropdown-btn span {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}

.dropdown-btn i {
  width: 13px;
  margin-right: 16px;
}

.dropdown-btn i {
  transition: transform 0.3s ease; /* Transition pour une rotation douce */
}

/* Rotation de 180 degrés quand le dropdown est actif */
.dropdown.active .dropdown-btn i {
  transform: rotate(180deg);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn.open {
  border-radius: 10px 10px 0px 0px; /* Bord arrondi lorsque le dropdown est ouvert */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  width: 195px;
  max-height: 225px;
  overflow-y: auto;
  -ms-overflow-style: none;
  border-radius: 0px 0px 5px 5px;
}

/* Pour cacher complètement la scrollbar (sur les navigateurs Webkit comme Chrome) */
.dropdown-content::-webkit-scrollbar {
  display: none; /* Cela cache la scrollbar sur les navigateurs basés sur Webkit */
}

.dropdown-content.active {
  display: block;
}

.dropdown:active .dropdown-content {
  display: block;
}

.dropdown-content input {
  width: 70%;
  margin-left: 18px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  position: relative;
}

/* Input Ingredient*/
.eraseIng {
  display: block;
  position: absolute;
  font-size: 30px;
  font-weight: 100;
  width: 20px;
  height: 20px;
  top: 7px;
  right: 50px;
  border: none;
  cursor: pointer;
  color: #4a4a4a;
}

.searchIconIng {
  display: block;
  position: absolute;
  font-size: 30px;
  font-weight: 100;
  width: 20px;
  height: 20px;
  top: 7px;
  right: 30px;
  border: none;
  cursor: pointer;
  color: #4a4a4a;
}

/* Input Appliance*/
.eraseAppl {
  display: block;
  position: absolute;
  font-size: 30px;
  font-weight: 100;
  width: 20px;
  height: 20px;
  top: 7px;
  right: 50px;
  border: none;
  cursor: pointer;
  color: #4a4a4a;
}

.searchIconAppl {
  display: block;
  position: absolute;
  font-size: 30px;
  font-weight: 100;
  width: 20px;
  height: 20px;
  top: 7px;
  right: 30px;
  border: none;
  cursor: pointer;
  color: #4a4a4a;
}

/* Input Ustensil*/
.eraseUsten {
  display: block;
  position: absolute;
  font-size: 30px;
  font-weight: 100;
  width: 20px;
  height: 20px;
  top: 7px;
  right: 50px;
  border: none;
  cursor: pointer;
  color: #4a4a4a;
}

.searchIconUsten {
  display: block;
  position: absolute;
  font-size: 30px;
  font-weight: 100;
  width: 20px;
  height: 20px;
  top: 7px;
  right: 30px;
  border: none;
  cursor: pointer;
  color: #4a4a4a;
}

.dropdown-content ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-content ul li {
  padding: 8px 20px;
  cursor: pointer;
}

.dropdown-content ul li:hover {
  background-color: #ffd15b;
}

.selected-items {
  display: block;
  margin-top: 15px;
}

.selected-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding: 10px;
  background-color: #ffd15b;
}

.selected-item:hover {
  font-weight: bold;
}

.remove-selectItem {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

/*NUMBER RECIPE*/

.numberRecipes {
  font-family: "Anton", sans-serif;
  font-size: 21px;
  font-weight: 400;
  text-align: left;
}

/* TAG */

.tagsContainer {
  display: flex;
  flex-direction: column;
}

.selected-tags {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0px 15px 35px 0px;
  gap: 20px;
}

.selected-tag {
  background-color: #ffd15b;
  border-radius: 15px;
  padding: 15px;
}

.selected-tag > button {
  position: relative;
  border: none;
  background: none;
  top: 1px;
  left: 12px;
}

.remove {
  position: relative;
  margin-left: 40px;
  top: 2px;
}

/* CARD */

.recipesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 50px;
  margin: auto;
  margin-bottom: 100px;
}

.visually-hidden {
  visibility: hidden;
  display: none;
}

.recipe_card {
  width: 100%;
  position: relative;
  background: white;
  border-radius: 10px;
}

.recipe_duration {
  position: absolute;
  top: 3%;
  right: 8%;
  background-color: #ffd15b;
  border-radius: 17px;
  padding: 8px 20px;
}

.recipe_img {
  width: 100%;
  height: 253px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.recipe_content {
  width: 90%;
  margin: auto;
}

.recipe_title {
  font-family: "Anton", arial;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 25px;
}

.description_title {
  color: #4a4a4a;
  font-size: 12px;
}

.ingredients_title {
  color: #4a4a4a;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 12px;
}

.ingredient_title {
  font-size: 14px;
  font-weight: 500;
}

.ingredient_text {
  position: relative;
  bottom: 18px;
  color: #4a4a4a;
}

.recipe_ingredients_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}
