body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-family: "Manrope", arial;
  background: #ededed;
}

/* HEADER */
header {
  position: relative;
}

.navLogo {
  position: absolute;
  top: 7%;
  left: 5%;
}

.title {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  font-size: 44px;
  color: #ffd15b;
  text-align: center;
  font-family: "Anton", arial;
}

.searchBar {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
}

#search {
  width: 100%;
  height: 72px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 70px;
  font-size: 1rem;
}

.searchButton {
  position: absolute;
  top: 12%;
  right: 1%;
  background-color: white;
  border: none;
  cursor: pointer;
}

img.bannerImg {
  width: 100%;
}

/* FILTERS */

.filters {
  width: 90%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 60px;
}

.dropdown-wrapper {
  display: flex;
  justify-content: space-between;
  width: 53%;
}

.dropdown-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  width: 179px;
  height: 56px;
  margin-right: 64px;
  border-radius: 11px;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
}

.dropdown-btn h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}

.dropdown-btn i {
  width: 13px;
  margin-right: 16px;
}

.dropdown-btn i {
  transition: transform 0.3s ease; /* Transition pour une rotation douce */
}

/* Rotation de 180 degrés quand le dropdown est actif */
.dropdown.active .dropdown-btn i {
  transform: rotate(180deg);
}

.dropdown-container {
  display: flex;
  gap: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #f3f3f3;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  max-height: 200px;
  overflow-y: auto;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  padding: 10px;
}

.dropdown-content.active {
  display: block;
}

.dropdown:active .dropdown-content {
  display: block;
}

.dropdown-content input {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.dropdown-content ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-content ul li {
  padding: 8px 10px;
  cursor: pointer;
}

.dropdown-content ul li:hover {
  background-color: #ddd;
}

/* TAG */

.selected-items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.selected-item {
  background-color: #ffd15b;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 5px;
  display: flex;
  align-items: center;
}

/* CARD */

.recipesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 50px;
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
}

.visually-hidden {
  visibility: hidden;
  display: none;
}

.recipe_card {
  width: 100%;
  position: relative;
  background: white;
  border-radius: 10px;
  padding-bottom: 60px;
}

.recipe_duration {
  position: absolute;
  top: 3%;
  right: 8%;
  background-color: #ffd15b;
  border-radius: 17px;
  padding: 8px 20px;
}

.recipe_img {
  width: 100%;
  height: 253px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.recipe_content {
  width: 90%;
  margin: auto;
}

.recipe_title {
  font-family: "Anton", arial;
  margin-top: 25px;
  margin-bottom: 25px;
}

.description_title {
  color: #7a7a7a;
  font-size: 12px;
}

.ingredients_title {
  color: #7a7a7a;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 12px;
}

.ingredient_title {
  font-size: 14px;
  font-weight: 500;
}

.ingredient_text {
  color: #7a7a7a;
}

.recipe_ingredients_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}
